<div class="container-fluid">
    <div class="mb-3">
        <!-- <h4>Home</h4> -->
    </div>

    <!-- Table Element -->
    <div class="card border-0">
        <div class="card-header">
            <h2 class="card-title">
                Home
            </h2>
            <!-- <h6 class="card-subtitle text-muted">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur eligendi, in libero voluptas minus ad optio voluptate veritatis 
                numquam error impedit quam commodi cumque quod ipsa dolor natus odit hic?
            </h6> -->
        </div>
    </div>

    <div class="row">
        <div class="col-2 col-md-2 d-flex">
            <div class="card flex-fill border-0">
                <div class="card-body py-4">
                    <div class="d-flex align-items-start justify-content-center">
                        <div class="flex-grow-1">
                            <div
                                class="col-8 d-flex align-items-center text-center">
                                <!-- Aumenta a largura da coluna para 8 (em vez de 6) -->
                                <p class="mb-0 smaller-font">CONSULTAR
                                    CLASSIFICAÇÃO</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-2 col-md-2 d-flex">
            <div class="card flex-fill border-0">
                <div class="card-body py-4">
                    <div class="d-flex align-items-start justify-content-center">
                        <div class="flex-grow-1">
                            <div
                                class="col-8 d-flex align-items-center text-center">
                                <!-- Aumenta a largura da coluna para 8 (em vez de 6) -->
                                <p class="mb-0 smaller-font">EQUIPAS</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-2 col-md-2 d-flex">
            <div class="card flex-fill border-0">
                <div class="card-body py-4">
                    <div class="d-flex align-items-start justify-content-center">
                        <div class="flex-grow-1">
                            <div
                                class="col-8 d-flex align-items-center text-center">
                                <!-- Aumenta a largura da coluna para 8 (em vez de 6) -->
                                <p class="mb-0 smaller-font">JOGOS</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-2 col-md-2 d-flex">
            <div class="card flex-fill border-0">
                <div class="card-body py-4">
                    <div class="d-flex align-items-start justify-content-center">
                        <div class="flex-grow-1">
                            <div
                                class="col-8 d-flex align-items-center text-center">
                                <!-- Aumenta a largura da coluna para 8 (em vez de 6) -->
                                <p class="mb-0 smaller-font">MARCADORES</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>