
<app-navbar></app-navbar>

<!-- <h1>Brasileirão Série B</h1>

<table class="styled-table">
  <thead>
    <th>Posição</th>
    <th>Escudo</th>
    <th>Time</th>
    <th>Pontos</th>
    <th>Jogos</th>
    <th>Vitorias</th>
  </thead>
  <tbody>
    <tr *ngFor="let time of tabela | async">
      <td>{{ time.posicao}}</td>
      <td><img escudo="escudo" src="{{time.time.escudo}}" width="50px"
          height="30px"></td>
      <td>{{time.time.nome_popular}}</td>
      <td>{{time.pontos}}</td>
      <td>{{time.jogos}}</td>
      <td>{{time.vitorias}}</td>
    </tr>
  </tbody>
</table>
<pre>
  {{tabela | async | json}}
</pre> -->