<div class="container-flui">
    <div class="mb-3">
        <!-- <h4>Home</h4> -->
    </div>

    <!-- Table Element -->
    <div class="card border-0">
        <div class="card-header">
            <h2 class="card-title">
                Campeonato
            </h2>
            <!-- <h6 class="card-subtitle text-muted">
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur eligendi, in libero voluptas minus ad optio voluptate veritatis 
                  numquam error impedit quam commodi cumque quod ipsa dolor natus odit hic?
              </h6> -->
        </div>
    </div>
    <!-- Table Element -->
    <div class="card border-0">
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>Logo</th>
                        <th>Campeonato</th>
                        <th>Edição Atual</th>
                        <th>Rodada Atual</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let time of tabela | async">
                        <td>
                            <img escudo="escudo" src="{{time.logo}}"
                                width="50px"
                                height="30px">
                        </td>
                        <td>{{ time.nome_popular}}</td>
                        <td>{{ time.edicao_atual.temporada}}</td>
                        <td>{{ time.tipo}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>